{% extends 'base.html' %}
{% block content %}
  <h2>Welcome to my portfolio!</h2>
  <p>
    &#128075;Hello! I'm Jiawei Ma, a software engineer specializing in designing and developing scalable
    backend systems. <img src="../static/1688603227577.jpeg" style="float: right; width: 15%; margin-left: 15px; margin-right: 388px">
  </p>

  <p>
    &#9996;I recently graduated with a Master's in Computer Engineering from the University of Toronto.<br>
    &#9996;I have experience leading projects in Java, Python, JavaScript and cloud platforms like AWS.
  </p>

  <p>
    &#9889;Key skills and technologies I've worked with include:
  </p>

  <ul class="rocketul">
    <li class="rocketli"><b>Languages</b>: Java, Python, JavaScript, SQL</li>
    <li class="rocketli"><b>Frameworks</b>: Spring Boot, Flask</li>
    <li class="rocketli"><b>Cloud</b>: AWS (EC2, S3, Lambda), Azure, Vercel, Heroku</li>
    <li class="rocketli"><b>Concepts</b>: Algorithms, Data Structures, OOP, Networking Protocols, Multi-threading</li>
  </ul>

  <p>
    &#9889;Some highlights from my recent experience include:
  </p>

  <ul class="rocketul">
    <li class="rocketli">Built an image hosting web application using Flask and AWS services</li>
    <li class="rocketli">Designed database schemas for web apps to store user and survey data</li>
    <li class="rocketli">Simulated an elevator control system supporting load balancing and fault tolerance</li>
  </ul>

  <p>
    &#128170;I'm passionate about crafting robust backend solutions using my strong programming foundation
    and cloud architecture knowledge. Let's connect!
  </p>
{% endblock %}